/* General Styles */

a {
  color: #7b5e57;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #4e342e;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #7b5e57;
}

button:disabled {
  cursor: default;
  background: #d3b8ae;
}

/* Join Page Styles */

.centered-form {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form::before {
  content: "";
  background-image: url("/img/join.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 35%;
}

.centered-form__box {
  position: relative;
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

/* For chat__sidebar, the aim was to place an image in the background
    and set the opacity to 50%. However as this is a parent element all
    child elements will also be at the same opacity. Therefore set the
    position of chat_sidebar to relative and ::before to absolute. Add 
    content "" or nothing will be displayed. Finally set the top, right, 
    bottom, and left to cover the entire space */
.chat__sidebar {
  position: relative;
  height: 100vh;
  color: #1b0000;
  width: 225px;
  overflow-y: scroll;
}

.chat__sidebar::before {
  content: "";
  background-image: url("/img/sidebar.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 70%;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
  background-color: #efebe9;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #7b5e57;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 2px;
  padding: 24px;
  background-color: #efebe9;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  position: relative;
  color: antiquewhite;
  font-weight: 400;
  font-size: 22px;
  background: #4e342e;
  padding: 24px;
}

.list-title {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  position: relative;
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
